@import './css/fonts.postcss';
@import './css/transitions.postcss';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

@layer utilities {
	.border-next:has(~ .border-next) {
		@apply border-r border-surface-500 border-dashed;
	}
}

#title + .app-bar,
#title:has(+ .app-bar) {
	@apply bg-gradient-to-l dark:bg-blend-color dark:from-surface-800 dark:to-primary-500/20 bg-surface-300/75 dark:bg-surface-100-800-token;
}
